<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% load static %}
<body background="static/movies/sala-de-cine.png" style="background-size: 101%;padding-bottom: 1468px;" >
<div>
<nav style="background-color: black">
    <ul class="menu">
         <form class="form-inline" method="get" style="float: right">
              <a href="{% url 'logout' %}" style="padding-right: 322px"><buton class="btn btn-outline-light">Logout</buton></a>
             <a href="{% url 'api-movies:movie-list' %}" style="padding-right: 20px"><buton class="btn btn-outline-light">API</buton></a>
             <a href="{% url 'create' %}" style="padding-right: 20px"><buton class="btn btn-outline-light">Add movies</buton></a>
            <a  style="alignment: right">
            <input  type="search" id="miBusqueda" name="title" >
            <button id="button" class="btn btn-outline-light"  type="submit">Search</button>
            </a>

    </form>

    </ul>
</nav>
</div>
<div>
    <h1 align="center">Movies</h1>

    <form method="get" style="    margin-left: 350px;
    margin-right: 328px;">
        <center>
        <div>
        <a href="{% url 'search' best_movie.slug %}" id="movie">
            <div  style="background-image: url({{ best_movie.poster.url }}); width: 300px; height: 400px;background-size: cover;">
                <div style=" top: 0px;  background-color: rgba(0,0,0,0.7);color: #fffffb;position: relative;">Movie with most rating</div>
                <div style=" top: 355px; font-family:Jamrul;  background-color: rgba(0,0,0,0.7);color: #fffffb;position: relative;">{{ best_movie.directors }}</div>
            </div>
        </a>
        </div>
            </center>
    </form>
</div>
<h1></h1>
<div class="table" >
    {% if movies != 'no se encontraron conicidencias' %}
     <form class="container" style="padding-left: 65px">
      {% for movie in movies %}
        <div style="display: inline-block">
        <a href="{% url 'search' movie.slug %}">
            <div style="background-image: url({{ movie.poster.url }}); width: 200px; height: 300px;background-size: cover;">
                <div style=" top: 276px; font-family:Jamrul;  background-color: rgba(0,0,0,0.7);color: #fffffb;position: relative;">{{ movie.directors }}</div>
            </div>
           <h1></h1>

        </a>
        </div>
        {% endfor %}
         </form>
    {% else %}
        <a><h1>{{ movies }}</h1></a>
     {% endif %}
</div>
<script src="static/movies/Home.js"></script>
{% endblock %}
</body>
</html>