<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td style="padding-left:0px"><img src="{{ movie.poster.url }}" alt="" width="350"
                                          height="450" class="alignnone size-full wp-image-15649"></td>
        <td style="text-align:justify"><p> {{ movie.detail }}</p>
            <p>&nbsp;</p>
            <p><span><strong>Title: </strong> {{ movie.title }}</span></p>
            <div id="imdb-box"><strong>IMDb:</strong>
                <div id="star-rating-box">
                </div> &nbsp;{{ rate.rate }}
            </div>

            <br><span><strong> Genre: </strong><a>{{ movie.genre }}</a>
            </span><br> <span><strong>Original Language: </strong>{{ movie.original_language }}</span><br>
                <span><strong>Director: </strong>{{ movie.directors }}</span><br>
                <span><strong>Actors: </strong><a >{{ movie.actors }}</a></span></br>
                <span><strong>Duration: </strong><a >{{ movie.duration|date:"G:i:s" }}</a>

        </td>
    </tr>
    </tbody>
</table>
</body>
</html>