<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>jjjj</title>
</head>
{% block body %}
    <body  background="static/movies/sala-de-cine.png" style="background-size: 101%;">
    <div class="wrapper fadeInDown">
        <div id="formContent" style="background-color: inherit">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-outline-light" type="submit">SAVE</button>
            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>